<div class="blockify__header-1">
  <div class="container">
    123
  </div>
</div>
{% schema %}
  {
    "name": "Blockify - Header 1",
    "tag": "section",
    "class": "section",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Blockify - Header 1"
      }
    ]
  }
{% endschema %}